.navigation-logo img {
    position: absolute;
    top: 36px;
    left: 5px;
    width: 150px;
    min-width: 150px;
    height: auto;
    flex-shrink: 0;
}

.navigation-bar {
    width: 400px;
    height: 75px;
    background: #ddbea9; 
    border-radius: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.navigation-top-menu {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.navigation-top-menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    transition: color 0.3s ease;
}

.auth-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.auth-buttons > a {
    text-decoration: none;
    color: #fff;
    background-color: #a5a58d;
    font-weight: 700;
    padding: 0.5rem 2rem;
    border: 2px solid #a5a58d;
    border-radius: 21px;
    transition: all 0.3s ease;
}

.auth-buttons > a:hover {
    background: #a5a58d;
    color: white;
}