.welcome-title {
    font-weight: 700;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-kerning: none;
}


h1 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: -0.8rem;
}

p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 2rem;
}