#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Satoshi', sans-serif;
}

.main {
  padding-top: 10px; /* Add space for the sticky header (matches header height) */
}

.content {
  min-height: calc(100vh - 130px);
}
